#rojo:hover{
    background-color: blue;
    border-radius: 7%;
    
    
    
}

#rojo{
    margin: 10px;
    padding: 10px;
    
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #4924ee, #3669d8, #3641dd, #3d6ed8);
    }
    
.text-muted{
    text-decoration: none;
}